.choose-a-koder {
  background-color: $black-primary;
  padding: 100px 0 60px;
  width: 100%;

  .choose-a-koder-wrapper {
    max-width: $content-max-width;
    width: 100%;

    .title-choose {
      .title-container {
        max-width: 400px;
      }
    }
  }

  .bar-columns {
    margin-top: 25px;
    max-width: 450px;
    padding-left: 10px;
    padding-right: 10px;
  }

  .bar {
    .bar-bar {
      background-color: $black-transparent-background;
      height: 10px;

      &.first {
        border-radius: 10px 0 0 10px;
      }

      &.last {
        border-radius: 0 10px 10px 0;
      }

      .indicator {
        border-radius: 10px;
        height: 10px;
      }
    }

    .bar-text {
      word-break: break-all;

      @include on-mobile {
        font-size: 3vw;
      }
    }
  }

  .slide-choose {
    .slide-item {
      width: 50%;
    }

    .is-inactive {
      display: none;
    }

    .slide-items {
      width: 50%;
    }
  }
}
