.collaborate-with-kodemia {
  background-image: url('/images/companies/colabora-con-kodemia-desktop.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0;
  padding: 100px 0 60px;
  width: 100%;

  @include on-mobile {
    background-image: url('/images/companies/colabora-con-kodemia-mobile.jpg');
  }

  @include on-tablet {
    background-image: url('/images/companies/colabora-con-kodemia-tablet.jpg');
  }

  &:not(:last-child) {
    margin-bottom: 0;
  }

  .collaborate-data {
    max-width: $content-max-width;
    padding: 0;
    width: 100%;

    @include on-mobile {
      margin: 0;
      padding: 0 45px;
    }

    @include on-tablet {
      margin: 0;
      padding: 0 85px;
    }

    .collaborate-title {
      @include on-mobile {
        max-width: 300px;
      }

      @include on-tablet {
        max-width: 300px;
      }
    }

    .collaborate-text {
      margin: 30px 0;
      max-width: 715px;

      @include on-mobile {
        width: 100%;
      }

      @include on-tablet {
        width: 50%;
      }
    }

    .collaborate-button {
      width: 340px;

      @include on-mobile {
        width: 100%;
      }

      @include on-tablet {
        width: 50%;
      }
    }
  }
}
