.find-koder {
  background-color: $black-primary;
  display: flex;
  justify-content: center;
  padding: 100px 0 80px;
  width: 100%;

  .find-koder-container {
    display: grid;
    grid-column-gap: 2rem;
    grid-template-areas:
      'subject subject'
      'image cards';
    grid-template-columns: 1fr 2fr;
    max-width: $content-max-width;
    width: 100%;

    @include on-mobile {
      grid-template-areas:
        'subject'
        'image'
        'cards';
      grid-template-columns: 1fr;
      min-width: 100%;
      padding: 0 45px;
    }

    @include on-tablet {
      grid-template-areas:
        'subject'
        'image'
        'cards';
      grid-template-columns: 1fr;
      min-width: 100%;
      padding: 0 85px;
    }

    .subject {
      grid-area: subject;
      max-width: 570px;
      min-width: 230px;

      @include on-mobile {
        min-width: 230px;
      }
    }

    .img-cont {
      height: 420px;
      grid-area: image;
      width: 100%;

      @include on-mobile {
        margin-bottom: 30px;
      }

      @include on-tablet {
        margin-bottom: 30px;
      }

      .image {
        border-radius: 10px;
        height: 100%;
        margin-top: 40px;
        max-height: 100%;
        object-fit: cover;
        width: 100%;
      }
    }

    .cards {
      display: grid;
      grid-area: cards;
      grid-column-gap: 2.5rem;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: auto;
      margin-top: 20px;

      @include on-mobile {
        grid-column-gap: 0;
        grid-template-columns: 1fr;
        margin-top: 20px;
      }
    }
  }
}
