#registro {
  background-color: $black-primary;
  min-height: 100vh;
  padding-bottom: 80px;
  padding-top: 110px;

  main {
    margin-left: 0;
    width: 100%;

    aside {
      .delimiter {
        max-width: 335px;

        @include on-mobile {
          max-width: 100%;
        }

        .description-paragraph {
          margin-top: 25px;
        }
      }
    }

    article {
      background-color: $black-transparent-background;
      border-radius: 20px;
      margin-left: 1rem;
      margin-right: 12px;
      margin-top: 25px;
      padding: 30px 40px;

      @include on-mobile {
        margin-left: 0;
        margin-right: 0;
        padding: 20px 15px;
      }
    }
  }
}
