.classes {
  background-color: $black-primary;
  width: 100%;

  .classes-container {
    margin: 0;
    width: 100%;

    .classes-bg {
      background-image: url('/images/bootcamps/koder_gerardo.png');
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      height: 430px;
      margin: 0;
      padding: 0;
      width: 100%;

      .title-container {
        background: $black-transparent;
        height: 100%;
        width: 100%;

        .wrapper {
          height: 100%;
          margin: 0 25px;
          max-width: $content-max-width;
          width: 100%;

          @include on-mobile {
            margin: 0;
            max-width: 100%;
            padding: 0 45px;
          }

          @include on-tablet {
            margin: 0;
            max-width: 100%;
            padding: 0 85px;
          }

          .h2 {
            max-width: 250px;
          }
        }
      }
    }

    .classes-wrapper {
      margin-bottom: 100px;
      margin-top: 100px;
      padding: 0;

      .classes-cards {
        margin: 0 13px;
        max-width: $content-max-width;
        width: 100%;

        @include on-mobile {
          margin: 0;
          max-width: 100%;
          padding: 0 32px;
        }

        @include on-tablet {
          margin: 0;
          max-width: 100%;
          padding: 0 72px;
        }
      }
    }
  }
}
