
.clase {
  background-color: $black-primary;
  .clase-container {
    padding: 150px 0 60px;
    margin: 0 49px;
    max-width: $content-max-width;
    min-width: $content-min-width;
    width: 100%;

  }

}
