.klass {
  width: 100%;

  .klass-container {
    height: 600px;
    margin: 0;
    overflow-y: scroll;
    width: 100%;

    @include on-mobile {
      height: 100%;
      overflow-y: none;
    }

    @include on-tablet {
      height: 800px;
    }

    &::-webkit-scrollbar {
      width: 6px;

      @include on-mobile {
        width: 0;
      }
    }

    &::-webkit-scrollbar-track {
      background: $black;
    }

    &::-webkit-scrollbar-thumb {
      background: $gray-primary;
      border-radius: 10px;

      &:hover {
        background: $cyan;
      }
    }

    .video-player {
      height: 72vh;
      position: sticky;
      top: 0;

      @include on-mobile {
        height: auto;
        margin: 0 0 10px;
        padding: 0;
        position: initial;
        width: 100%;
      }

      @include on-tablet {
        height: auto;
        position: initial;
      }

      .video-data-btns {
        align-items: center;
        display: flex;
        justify-content: space-between;
        margin-top: 35px;

        @include on-mobile {
          flex-wrap: wrap;
          margin-bottom: 40px;
        }

        @include on-tablet {
          flex-wrap: wrap;
          margin-bottom: 40px;
        }

        .video-data {
          display: inline;

          @include on-tablet {
            margin-bottom: 15px;
            margin-right: 20px;
          }

          .class-title {
            color: $primary;
            font-size: $h5-font-size;

            @include on-mobile {
              font-size: 18px;
            }
          }

          .class-date {
            color: $text;
            font-size: $p-font-size;
            margin-top: 10px;
          }
        }

        .container-btns {
          display: flex;
          justify-content: space-between;
          width: 310px;

          @include on-mobile {
            margin-top: 10px;
            width: 180px;
          }

          .btn-ikon {
            align-items: center;
            background-color: transparent;
            border-radius: 10px;
            border-style: solid;
            border-width: 2px;
            color: $primary;
            cursor: pointer;
            display: flex;
            font-size: 16px;
            font-weight: 500;
            justify-content: center;
            padding: 6.5px 10px;
            text-align: center;
            transition: all 0.4s ease;
            width: 150px;

            @include on-mobile {
              width: 80px;
            }

            &:hover {
              border-color: $primary-btn-hover;
            }

            .ikon {
              padding: 0 5px;
            }

            .text {
              @include on-mobile {
                display: none;
              }
            }
          }
        }
      }
    }
  }
}
