
.login-form {
  margin-top: 25px;
  width: 340px;

  @include on-mobile {
    width: 100%;
  }

  @include on-tablet {
    width: 420px;
  }

  .label-login {
    margin:35px 0 20px;
    text-align: center;
  }

  .input-login {
    height: 33px;
    width: 100%;

    &:focus {
      border: 1px solid $cyan;
    }
  }
  .error{
    position: absolute;
  }
  .btn-login {
    margin-top: 60px;
  }
}
