.bootcamp-type {
  border: solid 1px $gray;
  border-radius: 10px;

  &:hover {
    border-color: $primary-btn-border;
  }

  .type-container {
    margin: 25px 20px 30px;

    .date {
      color: $info;
      font-size: $h5-font-size;
    }

    .schedule {
      margin: 24px 0;
      max-width: 153px;

      @include on-mobile {
        max-width: 100%;
      }

      .schedule-content {
        color: $text;
        font-size: $p-font-size;
        margin: 0;
        max-width: 150px;
        min-width: 150px;
      }

      .feature {
        color: $text;
        font-size: $p-font-size;
        margin-bottom: 25px;
        margin-top: 20px;
        min-height: 48px;

        @include on-tablet {
          font-size: 16px;
        }
      }
    }
  }
}
