
%btn {
  background-color: transparent;
  border-radius: 10px;
  border-style: solid;
  border-width: 2px;
  color: $primary;
  cursor: pointer;
  display: block;
  font-size: 16px;
  font-weight: 500;
  margin: 16px 0;
  padding: 5px 10px;
  text-align: center;
  transition: all 0.4s ease;
  width: 100%;
  
  &:hover {
    color:$white;
  }
}

.btn {
  @extend %btn;
  .ikon {
    display: none;
  }
}

.button-ikon {
  @extend %btn;

  .ikon {
    margin-right: 10px;
    width: 15px;
  }
}

.button-primary {
  border-color:  $cyan;

  &:hover {
    background-color: $cyan-primary;
    border-color: $cyan-primary;
  }
} 

.button-secondary {
  border-color: $white;

  &:hover {
    background-color: $gray-primary;
    border-color: $gray-primary;
  }
}

.button-white {
  background-color: $white;
  border-color: $white;
  color: $black;
  
  &:hover {
    background-color: $black;
    border-color: $black;
    color: $white;
  }
}
