
.carrousel-alliances {
  margin: 50px 0 20px;
  position: relative;

  @include on-mobile {
    display: none;
  }

  @include on-tablet {
    display: none;
  }

  &::before,
  &::after {
    background: linear-gradient( to right, $black-primary, $black-transparent-hero, rgba(8, 8, 8, 0.034));
    content: '';
    height: 130px;
    position: absolute;
    width: 100px;
    z-index: 2;
  }

  &::after {
    right: 0;
    top: 0;
    transform: rotateZ(180deg);
  }

  &::before {
    left: 0;
    top: 0;
  }

  .ally {
    width: 100%;

    &:focus {
      outline: none;
    }
  }

  .a-ally {
    &:focus {
      outline: none;
    }
  }
}
