
.experience-video {
  position: relative;

  .video {
    .poster {
      border-radius: 10px;
      object-fit: cover;
      width: 100%;
    }
  }

  .icon-container {
    background-color: $black-transparent-hero;
    height: calc(100% - 140px);
    position: absolute;
    top: 0;
    width: 100%;

    %ikon {
      margin: 0 auto;
      padding-top: 17%;
      width: 50px;
    }

    .icon-play {
      @extend %ikon;

      display: block;
    }

    .icon-play-blue {
      @extend %ikon;

      display: none;
    }

    &:hover {
      .icon-play {
        display: none;
      }

      .icon-play-blue {
        display: block;
      }
    }
  }

  .data-container {
    height: 140px;
    max-width: 337px;

    @include on-mobile {
      margin-bottom: 30px;
      max-width: 100%;
      width: 100%;
    }

    @include on-tablet {
      max-width: 416px;
      width: 100%;
    }

    .name {
      font-size: 22px;
      font-weight: 600;
      line-height: 1.36;
      margin: 12px 0;
    }

    .content {
      color: $text;
      font-size: 18px;
      font-weight: 500;
    }
  }
}
