
.my-footer {
  background-color: $body-background-color;
  padding: 60px 0 40px;
  width: 100%;

  .wrapper-f {
    @include on-mobile {
      margin: 30px 45px 0;
    }

    @include on-tablet {
      margin: 0 85px;
    }

    .first-container {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(3, auto);
      margin: 0 auto;
      max-width: $content-max-width;
      min-width: $content-min-width;

      @include on-mobile {
        grid-template-columns: 1fr;
        grid-template-rows: unset;
        min-width: 100%;
        text-align: center;
      }

      @include on-tablet {
        min-width: 100%;
      }

      .logo {
        grid-column: 1 / 3;
        margin-bottom: 50px;
        width: 172px;

        @include on-mobile {
          grid-column: unset;
          grid-row: unset;
          margin-bottom: 25px;
          width: 198px;
        }

        @include on-tablet {
          margin-bottom: 40px;
        }
      }

      .buttons {
        display: flex;
        flex-direction: column;
        grid-column: 2 / 3;

        @include on-mobile {
          grid-column: unset;
          grid-row: unset;
        }

        .btn-whats {
          margin: 10px 0;
          margin-left: auto;
          width: 337px;

          @include on-mobile {
            width: 100%;
          }
        }

        .btn-telegram {
          margin: 10px 0;
          margin-left: auto;
          width: 337px;

          @include on-mobile {
            width: 100%;
          }
        }
      }

      .directory {
        display: flex;
        flex-direction: column;
        grid-column: 1 / 2;
        grid-row: 2 / 3;
        justify-content: space-around;

        @include on-mobile {
          grid-row: unset;
        }

        .navigation {
          display: flex;
          flex-wrap: wrap;
          font-size: 6vmin;
          white-space: pre;

          @include on-mobile {
            justify-content: center;
          }

          .item-nav {
            &:hover {
              color: $info;
            }
          }
        }

        .social-media {
          padding: 0 66px 0 0;
          display: flex;
          flex-wrap: wrap;
          
          @include on-mobile {
            justify-content: center;
            margin: 40px 0 20px;
            padding: 0 25px;
          }

          .item-sm {
            margin: 0 10px;

            @include on-mobile {
              margin: 0 10px 8px;
            }

            @include on-tablet {
              margin: 0 10px 8px;
            }

            img {
              width: 25.6px;

              &:hover {
                filter: invert(5%) sepia(35%) saturate(2000%) hue-rotate(130deg) brightness(113%) contrast(100%);
              }
            }
          }
        }
      }

      .contact {
        grid-column: 2 / 3;
        margin: 20px 0;
        text-align: end;

        @include on-mobile {
          grid-column: unset;
          grid-row: unset;
          margin-bottom: 0;
          margin-top: 10px;
          text-align: center;
        }
      }

      .address {
        grid-column: 1 / 2;
        grid-row: 3 / 4;
        margin: 20px 0;

        @include on-mobile {
          grid-column: unset;
          grid-row: unset;
          margin-top: 0;
        }
      }
    }

    .copyright-container {
      border-top: 2px solid $white;
      display: flex;
      justify-content: space-between;
      margin: 10px auto 0;
      max-width: $content-max-width;
      min-width: 719px;
      padding-top: 20px;
      text-align: center;

      @include on-mobile {
        flex-direction: column;
        min-width: 100%;

        p {
          margin: 0 10%;
        }
      }

      @include on-tablet {
        min-width: 100%;
      }

      .privacy {
        @include on-mobile {
          margin: 20px 0;
        }

        &:hover {
          color: $info;
        }
      }
    }
  }
}
