
.footer {
  background-color: $body-background-color;
  margin: 0 155px;
  padding: 6rem 0;
  @include mobile {
    margin: 0 32px;
    padding: 3rem 0;
  }
  @include tablet {
    margin: 0 85px;
  }

  .first-container {
    display: grid;
    grid-template-columns: 70% 30%;
    grid-template-rows: repeat(3, auto);
    @include mobile {
      grid-template-columns: 1fr;
      grid-template-rows: unset;
      text-align: center;
    }
    @include tablet {
      grid-template-columns: repeat(2, 1fr);
    }

    .logo {
      grid-column: 1 / 3;
      margin-bottom: 50px;
      width: 172px;
      @include mobile {
        grid-column: unset;
        grid-row: unset;
        margin-bottom: 25px;
        width: 198px;
      }
      @include tablet {
        margin-bottom: 40px;
      }
    }

    .buttons {
      display: flex;
      flex-direction: column;
      grid-column: 2 / 3;
      @include mobile {
        grid-column: unset;
        grid-row: unset;
      }

      .btn-whats {
        margin: 10px 0;
        margin-left: auto;
        width: 337px;
        @include mobile {
          width: 100%;
        }
      }

      .btn-telegram {
        margin: 10px 0;
        margin-left: auto;
        width: 337px;
        @include mobile {
          width: 100%;
        }
      }
    }

    .directory {
      display: flex;
      flex-direction: column;
      grid-column: 1 / 2;
      grid-row: 2 / 3;
      justify-content: space-around;
      @include mobile {
        grid-row: unset;
      }

      .navigation {
        display: flex;
        flex-wrap: wrap;
        font-size: 6vmin;
        white-space: pre;
        @include mobile {
          justify-content: center;
        }

        .item-nav {
          &:hover {
            color: $info;
          }
        }
      }

      .social-media {
        position: relative;

        @include mobile {
          margin: 40px 0 20px;
        }

        .item-sm {
          margin: 0 10px;

          img {
            width: 25.6px;

            &:hover {
              filter: invert(5%) sepia(35%) saturate(2000%) hue-rotate(130deg) brightness(113%) contrast(100%);
            }

          }
        }

      }

    }

    .contact {
      grid-column: 2 / 3;
      margin: 20px 0;
      text-align: end;
      @include mobile {
        grid-column: unset;
        grid-row: unset;
        margin-bottom: 0;
        margin-top: 10px;
        text-align: center;
      }
    }

    .address {
      grid-column: 1 / 2;
      grid-row: 3 / 4;
      margin: 20px 0;
      @include mobile {
        grid-column: unset;
        grid-row: unset;
        margin-top: 0;
      }
    }
  }

  .copyright-container {
    border-top: 2px solid $white;
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    padding-top: 20px;
    text-align: center;
    @include mobile {
      flex-direction: column;

      p {
        margin: 0 10%;
      }
    }

    .privacy {
      @include mobile {
        margin: 20px 0;
      }

      &:hover {
        color: $info;
      }
    }
  }
}
