
.footer {
  margin: 0 5%;

  * a {
    color: $white;
    text-decoration: none;
  }

  .container {
    display: grid;
    grid-template-columns: 70% 30%;
    grid-template-rows: repeat(3, auto);
    @include mobile {
      grid-template-columns: 1fr;
      grid-template-rows: unset;
      text-align: center;
    }
    @include tablet {
      grid-template-columns: repeat(2, 1fr);
    }

    .logo {
      grid-column: 1 / 3;
      width: 15%;
      @include mobile {
        grid-column: unset;
        grid-row: unset;
        width: 30%;
      }
    }

    .buttons {
      grid-column: 2 / 3;
      @include mobile {
        grid-column: unset;
        grid-row: unset;
      }
    }

    .directory {
      display: flex;
      flex-direction: column;
      grid-column: 1 / 2;
      grid-row: 2 / 3;
      justify-content: space-around;
      margin-top: 20px;
      @include mobile {
        grid-row: unset;
      }

      .navigation {
        display: flex;
        white-space: pre;
        @include mobile {
          justify-content: center;
        }
        
        li a {
          color: $white;
          text-decoration: none;
        }
      }

      .social-media {   
        @include mobile {
          margin: 40px 0 20px;
        }

        a {
          margin: 0 10px;
        
          img {
            width: 25.6px;
          }
        }
      }
        
    }

    .contact {
      grid-column: 2 / 3;
      margin: 20px 0;
      text-align: end;
      @include mobile {
        grid-column: unset;
        grid-row: unset;
        margin-bottom: 0;
        margin-top: 10px;
        text-align: center;
      }
    }

    .address {
      grid-column: 1 / 2;
      grid-row: 3 / 4;
      margin: 20px 0;
      @include mobile {
        grid-column: unset;
        grid-row: unset;
        margin-top: 0;
      }
    }
  }

  .copyright-container {
    border-top: 2px solid $white;
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    padding-top: 20px;
    text-align: center;
    @include mobile {
      flex-direction: column;

      p {
        margin: 0 10%;
      }
    }

    .privacy {
      @include mobile {
        margin: 20px 0;
      }
    }
  }
}
