
.form-field {
  margin-top: 35px;
  width: 100%;

  .label-login {
    margin-bottom: 20px;
    text-align: center;
  }

  .input-login {
    height: 33px;
    width: 100%;

    &:focus {
      border: 1px solid $cyan;
    }
  }
}
