
%h2 {
  font-size: 35px;
  font-weight: 600;
  line-height: 1.2;

  @include on-mobile {
    font-size: 28px;
  }
}

.h2-white {
  @extend %h2;
  color: $primary
}

.h2-cyan {
  @extend %h2;
  color: $info;
}