%h5-text {
  font-size: $h5-font-size;
  line-height: 1.36;
  white-space: pre-wrap;
  word-break: break-word;
}

.h5-white {
  @extend %h5-text;

  color: $primary;
  font-size: $h5-font-size;
  font-weight: 600;
}

.h5-gray {
  @extend %h5-text;

  color: $text;
  font-weight: 500;
  line-height: 1.4;
  margin: 15px 0;
}
