.hero-card {
  min-width: 338px;
  width: 33.33%;

  @include on-mobile {
    max-width: 338px;
    min-width: 50%;
    width: 100%;
  }

  .hero-content {
    color: $text;
    font-size: $p-font-size;
    font-weight: 500;
    line-height: 1.5;
    margin: 40px 0;
    text-align: justify;

    @include on-mobile {
      text-align: left;
    }

    @include on-tablet {
      text-align: left;
    }
  }
}
