.info-card {
  display: grid;
  // grid-column-gap: 16px;
  // grid-template-columns: 5% 95%;
  // grid-template-rows: auto, auto;
  grid-template-areas:
    'ikon title'
    'ikon description';

  padding: 20px 20px 20px 0;
  width: 370px;

  @include mobile {
    // grid-template-columns: 8% 92%;
    padding-right: 0;
  }

  .ikon {
    // grid-column: 1 / 2;
    // grid-row: 1 / 3;
    // margin-left: auto;
    grid-area: ikon;
    padding-top: 10px;
    text-align: center;
    width: 26px;

    &:hover {
      transform: scale(1.1);
    }
  }

  .title {
    color: $primary;
    font-size: 22px;
    font-weight: 600;
    // grid-column: 2 / 3;
    // grid-row: 1 / 2;
    grid-area: title;
    line-height: 1.36;
    margin: 0;
    width: 300px;
  }

  .description {
    font-size: 18px;
    // grid-column: 2 / 3;
    // grid-row: 2 /3;
    grid-area: description;
    margin-top: 12px;
  }
}
