
.our-bootcamps {
  margin: 0 155px;
  padding-top: 100px;

  @include on-mobile {
    margin: 0 32px;
  }

  @include on-tablet {
    margin: 0 85px;
  }

  .title {
    color: $text;
    font-size: 20px;
    font-weight: 500;
    margin: 8px 0;
  }

  .bootcamp {
    display: grid;
    grid-template-columns: auto 1fr;

    @include on-mobile {
      grid-template-columns: 1fr;
    }

    @include on-tablet {
      grid-template-columns: 1fr;
    }

    .modalities-conteiner {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      padding-left: 15px;

      @include on-mobile {
        flex-direction: column;
        padding-left: 0;
      }

      @include on-tablet {
        padding-left: 0;
      }

      .modality {
        margin: 20px 0;
        width: 50%;

        @include on-mobile {
          width: 100%;
        }

        @include on-tablet {
          width: 50%;
        }

        &:first-child {
          margin-right: 30px;

          @include on-mobile {
            margin-right: 0;
          }

          @include on-tablet {
            margin-right: 25px;
          }
        }
      }
    }
  }
}
