
%cursor {
  border-bottom: 2px solid;
}

.cyan-text {
  color: $info;
}

.white-text {
  color: $primary;
}

.white-cursor {
  @extend %cursor;

  border-color: $primary;
  color: $primary;
}

.cyan-cursor {
  @extend %cursor;

  border-color: $info;
  color: $cyan;
}
