
.alliances-kodemia {
  background-color: $black-primary;
  display: flex;
  justify-content: center;
  padding-top: 115px;
  width: 100%;

  @include on-mobile {
    flex-direction: column;
  }

  @include on-tablet {
    flex-direction: column;
  }

  .alliances-kodemia-container {
    max-width: $content-max-width;
    min-width: $content-min-width;
    width: 100%;

    @include on-mobile {
      margin: 0;
      min-width: 100%;
      padding: 0 45px;
    }

    @include on-tablet {
      margin: 0;
      min-width: 100%;
      padding: 0 85px;
    }
  }

  .allies-slider {
    margin: auto;
    overflow: hidden;
    position: relative;

    &::before,
    &::after {
      background: linear-gradient(to right, $black-primary, $black-transparent-hero, rgba(8, 8, 8, 0.034));
      content: '';
      height: 130px;
      margin: 50px 0 20px;
      position: absolute;
      width: 100px;
      z-index: 2;
    }

    &::after {
      right: 0;
      top: 0;
      transform: rotateZ(180deg);
    }

    &::before {
      left: 0;
      top: 0;
    }

    .slider-container {
      animation: slider 60s linear infinite;
      display: flex;
      margin: 50px 0 20px;
      width: calc(250px * 12);

      @include on-mobile {
        animation: none;
        flex-direction: column;
        margin: 25px 0;
        width: 100%;
      }

      @include on-tablet {
        animation: none;
        flex-direction: column;
        flex-wrap: wrap;
        height: 800px;
        margin: 25px 0;
        width: 100%;
      }
    }

    @keyframes slider {
      0% { transform: translateX(0); }
      100% { transform: translateX(calc(-250px * 8.5)); }
    }

    .slide {
      height: 130px;

      @include on-tablet {
        margin: 0 auto;
      }

      .ally {
        height: 130px;
        width: 250px;

        @include on-mobile {
          width: 100%;
        }
      }
    }
  }
}
