
.hero {
  position: relative;

  @include on-mobile {
    margin-bottom: 70px;
  }

  .bg-video {
    z-index: -2;

    .video {
      height: 100vh;
      object-fit: cover;
      width: 100vw;
    }
  }

  .cover {
    background: linear-gradient(to top, $black, $black-transparent-hero);
    height: 100%;
    padding: 190px 49px 0;
    position: absolute;
    top: 0;
    width: 100%;

    @include on-mobile {
      padding: 150px 45px 20px;
    }

    @include on-tablet {
      padding: 170px 85px 0;
    }

    .container {
      max-width: $content-max-width;
    }

    .arrow-icon {
      animation-duration: 3s;
      animation-iteration-count: infinite;
      animation-name: arrow;
      animation-timing-function: ease-out;
      left: 0;
      margin: 0 50% 114px;
      position: absolute;
      width: 30px;

      @include on-mobile {
        display: none;
      }
    }

    @keyframes arrow {
      0% {
        bottom: 0;
      }

      50% {
        bottom: -60px;
        width: 20px;
      }

      100% {
        bottom: 0;
      }
    }
  }
}
