
.hero {
  position: relative;

  .bg-video {
    z-index: -2;

    .video {
      height: 100vh;
      object-fit: cover;
      width: 100vw;
    }
  }

  .cover {
    background: linear-gradient(to top, $black, $black-transparent-hero);
    height: 100%;
    padding: 190px 155px 0;
    position: absolute;
    top: 0;
    width: 100%;

    @include on-mobile {
      padding: 215px 32px 20px;
    }

    @include on-tablet {
      padding: 200px 85px 0;
    }

    .arrow-icon {
      animation-duration: 3s;
      animation-iteration-count: infinite;
      animation-name: arrow;
      animation-timing-function: ease-out;
      left: 0;
      margin: 114px 50%;
      position: absolute;
      width: 33px;

      @include on-mobile {
        display: none;
      }
    }

    @keyframes arrow {
      0% {
        bottom: 0;
      }

      50% {
        bottom: -100px;
        width: 10px;
      }

      100% {
        bottom: 0;
      }
    }
  }
}
