
.hero {
  position: relative;

  .bg-video {
    z-index: -2;

    .video {
      height: 100vh;
      object-fit: cover;
      width: 100vw;
    }
  }

  .cover {
    background: linear-gradient(to top, $black, $black-transparent-hero);
    height: 100%;
    padding: 190px 155px 0;
    position: absolute;
    top: 0;
    width: 100%;

    @include on-mobile {
      padding: 150px 32px 20px;
    }

    @include on-tablet {
      padding: 200px 85px 0;
    }

    .arrow-icon {
      margin: 114px 50%;
      width: 33px;

      @include on-mobile {
        display: none;
      }
    }
  }
}
