
.kodemia-financing {
  background-image: url('/images/apoyo-kodemia.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  width: 100%;

  @include on-mobile {
    background-image: url('/images/apoyo-mobile.jpg');
    background-position: center;
    padding: 0 45px;
  }

  @include on-tablet {
    background-image: url('/images/apoyo-tablet.jpg');
    background-position: center;
    justify-content: flex-start;
    padding: 0 85px;
  }

  .kodemia-financing-container {
    display: flex;
    flex-direction: column;
    height: 459px;
    justify-content: center;
    max-width: $content-max-width;
    width: 100%;

    @include on-mobile {
      margin: 0;
      max-width: 100%;
    }

    @include on-tablet {
      margin: 0;
      max-width: 437px;
      width: 50%;
    }

    .title-container {
      width: 437px;

      @include on-mobile {
        width: 100%;
      }

      @include on-tablet {
        width: 100%;
      }
    }

    .text {
      color: $text;
      font-size: 18px;
      font-weight: 500px;
      margin: 32px 0 37px;
      max-width: 729px;
    }

    .btn-container {
      width: 336px;

      @include on-mobile {
        width: 100%;
      }

      @include on-tablet {
        width: 100%;
      }
    }
  }
}
