.kodemia-financing {
  background-image: url('/images/kodemia-financing/apoyo-kodemia.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  width: 100%;

  @include on-mobile {
    background-image: url('/images/kodemia-financing/apoyo-mobile.jpg');
    background-position: center;
    padding: 0 45px;
  }

  @include on-tablet {
    background-image: url('/images/kodemia-financing/apoyo-tablet.jpg');
    background-position: center;
    justify-content: flex-start;
    padding: 0 85px;
  }

  .kodemia-financing-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: $content-max-width;
    padding: 100px 0 80px;
    width: 100%;

    @include on-mobile {
      margin: 0;
      max-width: 100%;
      padding: 80px 0  60px;
    }

    @include on-tablet {
      margin: 0;
      max-width: 437px; // TODO: checar si agregar este tamaño al tailwind.config
      width: 50%;
    }

    .title-container {
      width: 300px; // TODO: checar si agregar este tamaño al tailwind.config

      @include on-mobile {
        width: 100%;
      }

      @include on-tablet {
        width: 100%;
      }
    }

    .text {
      font-size: $p-font-size;
      font-weight: 500px;
      margin: 32px 0 37px;
      max-width: 729px;
    }

    .btn-container {
      max-width: 318px;
      width: 33.33%;

      @include on-mobile {
        max-width: 100%;
        width: 100%;
      }

      @include on-tablet {
        max-width: 100%;
        width: 100%;
      }
    }
  }
}
