
.our-bootcamps {
  max-width: $content-max-width;
  padding: 100px 0 40px;

  @include on-mobile {
    margin: 0 45px;
  }

  @include on-tablet {
    padding: 110px 85px;
    width: 100%;
  }

  .bootcamp {
    display: grid;
    grid-column-gap: 55px;
    grid-template-columns: 1fr 2fr;

    @include on-mobile {
      grid-template-columns: 1fr;
    }

    @include on-tablet {
      grid-template-columns: 1fr;
    }

    .modalities-container {
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;

      @include on-mobile {
        flex-direction: column;
        padding-left: 0;
      }

      @include on-tablet {
        padding-left: 0;
      }

      .modality {
        margin: 20px 0;
        width: 50%;

        @include on-mobile {
          width: 100%;
        }

        @include on-tablet {
          width: 50%;
        }

        &:first-child {
          margin-right: 30px;

          @include on-mobile {
            margin-right: 0;
          }

          @include on-tablet {
            margin-right: 25px;
          }
        }
      }
    }
  }
}
