.our-bootcamps {
  @include on-mobile {
    margin: 0;
  }

  @include on-tablet {
    margin: 0;
  }

  .our-bootcamps-container {
    margin: auto;
    max-width: $content-max-width;
    min-width: $content-min-width;
    padding: 100px 0 70px;

    @include on-mobile {
      min-width: 100%;
      padding: 80px 45px 40px;
    }

    @include on-tablet {
      margin: 0;
      min-width: 100%;
      padding: 100px 85px 40px;
      width: 100%;
    }

    .bootcamp {
      display: grid;
      grid-column-gap: 55px;
      grid-template-columns: 1fr 2fr;

      @include on-mobile {
        grid-template-columns: 1fr;
      }

      @include on-tablet {
        grid-template-columns: 1fr;
      }

      .modalities-container {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;

        @include on-mobile {
          flex-direction: column;
          padding-left: 0;
        }

        @include on-tablet {
          flex-direction: row;
          padding-left: 0;
        }

        .modality {
          margin: 20px 0;
          width: 50%;

          @include on-mobile {
            width: 100%;
          }

          @include on-tablet {
            width: 50%;
          }

          &:first-child {
            margin-right: 30px;

            @include on-mobile {
              margin-right: 0;
            }

            @include on-tablet {
              margin-right: 25px;
            }
          }
        }
      }
    }
  }
}
