
.our-method {
  background-color: $black-primary;
  display: flex;
  justify-content: center;
  padding: 114px 0 60px;
  width: 100%;

  .our-method-container {
    max-width: $content-max-width;
    min-width: $content-min-width;

    @include on-mobile {
      max-width: 100%;
      min-width: 100%;
      padding: 70px 45px;
    }

    @include on-tablet {
      margin: 0;
      padding: 70px 85px;
    }

    .title-contain {
      max-width: 452px;

      @include on-mobile {
        max-width: 369px;
      }

      @include on-tablet {
        max-width: 395px;
      }
    }

    .our-method-text {
      color: $text;
      font-size: 20px;
      font-weight: 500;
      margin: 35px 0;
      max-width: 730px;

      @include on-mobile {
        max-width: 100%;
      }
    }

    .our-method-cards {
      display: grid;
      grid-column-gap: 55px;
      grid-row-gap: 29px;
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: repeat(2, auto);

      @include on-mobile {
        grid-template-columns: 1fr;
        grid-template-rows: auto;
      }

      @include on-tablet {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: auto;
      }
    }
  }
}
