.testimonials {
  .testimonials-wrapper {
    display: flex;
    justify-content: center;
    width: 100%;

    .container-testimonials {
      display: flex;
      flex-direction: column;
      justify-content: center;
      max-width: $content-max-width;
      min-width: $content-min-width;
      padding: 100px 0 80px;
      width: 100%;

      @include mobile {
        margin: 0;
        max-width: 100%;
        min-width: 100%;
        padding: 80px 45px 60px;
        width: 100%;
      }

      @include on-tablet {
        margin: 0;
        padding: 100px 85px 80px;
      }

      .sliders {
        display: flex;
        height: 240px;
        margin-top: 45px;
        overflow: hidden;
        position: relative;
        width: 100%;

        @include on-mobile {
          height: 100%;
          min-height: max-content;
          overflow: auto;
          position: static;
        }

        @include on-tablet {
          height: 320px;
        }

        .testimonial {
          position: absolute;
          right: 0;

          @include on-mobile {
            position: static;
          }
        }

        .active {
          left: 0;
          z-index: 10;
        }
      }

      .bar-buttons {
        display: flex;
        justify-content: space-between;
        margin-top: 40px;

        .bar {
          background-color: #4e4e4e;
          border-radius: 10px;
          display: inline;
          height: 8px;
          width: 85%;

          ul {
            display: flex;

            .selected-bar {
              color: #4e4e4e;
              height: 8px;
              width: 25%;
            }

            .active {
              background-color: $cyan;
              border-radius: 10px;
              color: $cyan;
            }
          }
        }

        .container-buttons {
          min-width: 69px;

          @include on-tablet {
            min-width: 128px;
          }

          .back {
            margin: 0 20px 0 45px;

            @include on-mobile {
              margin: 0 15px;
            }
          }

          .back,
          .forward {
            cursor: pointer;
            height: 20px;

            @include on-mobile {
              height: 15px;
            }

            &:hover {
              filter: invert(5%) sepia(35%) saturate(2000%) hue-rotate(130deg) brightness(113%) contrast(100%);
            }
          }
        }
      }
    }
  }

  .is-gray {
    background: $black-primary;
  }
}
