.transform-your-life {
  background-color: $cyan-primary;
  display: flex;
  justify-content: center;
  width: 100%;

  .transform-your-life-container {
    align-items: center;
    display: flex;
    justify-content: space-between;
    max-width: $content-max-width;
    padding: 100px 0 80px;
    width: 100%;

    @include on-mobile {
      align-items: flex-start;
      flex-direction: column;
      justify-content: center;
      margin: 0;
      padding: 80px 45px 60px;
    }

    @include on-tablet {
      margin: 0;
      padding: 100px 85px 80px;
    }

    .title-container {
      max-width: 400px;

      @include on-mobile {
        width: 100%;
      }

      @include on-tablet {
        width: 55%;
      }
    }

    .btn-container {
      width: 337px;

      @include on-mobile {
        margin-top: 55px;
        width: 100%;
      }

      @include on-tablet {
        width: 45%;
      }
    }
  }
}
