.what-going-achieve {
  display: flex;
  justify-content: center;
  width: 100%;

  .achieves-container {
    background-color: #dda0dd;
    display: grid;
    grid-gap: 60px;
    grid-template-areas: 'info images';
    grid-template-columns: 1fr 2fr;
    max-width: $content-max-width;
    padding: 100px 0 60px;

    @include on-mobile {
      grid-template-areas:
        'info'
        'images';
      grid-template-columns: 1fr;
    }

    @include on-tablet {
      grid-template-areas:
        'info'
        'images';
      grid-template-columns: 1fr;
    }

    .info {
      grid-area: info;

      .text {
        color: $text;
        margin: 30px 0 43px;
      }
    }

    .images-bar-container {
      background-color: #b0e0e6;

      .images {
        background-color: #eee8aa;
        // display: flex;
        grid-area: images;
        // overflow: hidden;

        .image {
          height: 373px;
          margin-top: 60px;
          min-width: 100%;
        }
      }
    }
  }
}
