.achivements-section {
  align-items: center;
  display: flex;
  justify-content: center;
  padding: 100px 0 80px;

  @include on-mobile {
    padding: 80px 0 60px;
  }

  .achivements-container {
    max-width: $content-max-width;
    width: 100%;

    @include on-tablet {
      margin: 0 85px;
    }

    .achivements-text-column {
      padding-right: 40px;

      @include on-mobile {
        padding-right: 0;
      }
    }

    .slider-container-column {
      @include on-mobile {
        padding-left: 0;
      }

      .slider-column {
        @include on-tablet {
          padding: 20px 0;
        }
      }
    }

    .slide {
      display: grid;
      grid-template-columns: auto;
      grid-template-rows: auto;
      margin-top: 20px;
      position: relative;
      width: 100%;

      .slide-item {
        display: inline-block;
        position: absolute;
        top: 0;
        transition: opacity 0.5s ease-in-out;

        &.is-active {
          opacity: 1;
        }

        &:not(.is-active) {
          opacity: 0;
        }
      }
    }

    .bar-columns {
      margin-top: 25px;
      padding-left: 10px;
      padding-right: 10px;
    }

    .bar {
      .bar-bar {
        background-color: $black-transparent-background;
        height: 10px;

        &.first {
          border-radius: 10px 0 0 10px;
        }

        &.last {
          border-radius: 0 10px 10px 0;
        }

        .indicator {
          border-radius: 10px;
          height: 10px;
        }
      }

      .bar-text {
        font-size: 20px;
        font-weight: 600;
        word-break: break-all;

        @include on-mobile {
          font-size: 2.8vw;
        }
      }
    }
  }
}
