//font
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700;800&display=swap');

// variables
@import './variables';
@import './mixins';

//bulma
@import 'bulma/bulma';
@import '../node_modules/slick-carousel/slick/slick-theme';
@import '../node_modules/slick-carousel/slick/slick';

* {
  border: 0;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  font-size: 16px;
  font-weight: 500;

  &:hover {
    color: $link;
  }
}

body {
  color: $primary;
  font-family: 'Poppins', sans-serif;

  &::-webkit-scrollbar {
    width: 6px;
  }

  &::-webkit-scrollbar-track {
    background: $black;
  }

  &::-webkit-scrollbar-thumb {
    background: $gray-primary;
    border-radius: 10px;

    &:hover {
      background: $cyan;
    }
  }
}

.page-container {
  align-items: center;
  // display: flex;
  flex-direction: column;
  justify-content: center;
}

.section-container {
  margin: $section-margin;
}

// components
@import 'components/index';
@import 'pages/index';
