//font
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700;800&display=swap');

// variables
@import './variables';
@import './mixins';

//bulma
@import 'bulma/bulma';

* {
  border: 0;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

* a {
  color: $link;
  font-size: 16px;
  font-weight: 500;
  &:hover {
    color: $link;
  }
}

body {
  background-color: $body-background-color;
  color: $primary;
  font-family: 'Poppins',sans-serif;
}

// components 
@import './components/index';
