@layer utilities {
  .inner-strong {
    &-cyan {
      strong {
        color: #0ff;
      }
    }

    &-red {
      strong {
        color: #c22327;
      }
    }
  }

  .filter-white-to-cyan {
    filter:
      invert(5%) sepia(35%) saturate(2000%) hue-rotate(130deg)
      brightness(113%) contrast(100%);
  }

  .phone-dropdown {
    .selected-flag {
      &:focus,
      &:hover,
      &:active,
      &.open {
        background-color: transparent;
        border-radius: 10px;
      }
    }
    ul.country-list {
      margin: 0;
    }
  }

  @variants responsive {
    .masonry-3-col {
      column-count: 3;
      column-gap: 1em;
    }

    .masonry-2-col {
      column-count: 2;
      column-gap: 1em;
    }

    .avoid-break-inside { // remove when migrating to tailwind v3
      break-inside: avoid;
    }

    .flex-basis-half {
      flex-basis: 50%;
    }

    // refactor when migrate to tailwind v3
    .mentor-skill-pill {
      flex: 0 1 calc(50% - 16px);
      margin: 10px 8px;
    }
  }
}
