@layer utilities {
  .inner-strong {
    &-cyan {
      strong {
        color: #0ff;
      }
    }

    &-red {
      strong {
        color: #c22327;
      }
    }
  }

  .filter-white-to-cyan {
    filter: invert(5%) sepia(35%) saturate(2000%) hue-rotate(130deg) brightness(113%) contrast(100%);
  }
}
