// COLORS

//Black
$black: #000;
$black-medium: rgba(0, 0, 0, 0.6);
$black-primary: #181818;
$black-transparent: rgba(24, 24, 24, 0.8);
$black-transparent-background: rgba(255, 255, 255, 0.1);
$black-transparent-hero: rgba(24, 24, 24, 0.4);
$black-transparent-hover: rgba(24, 24, 24, 0.8);

// Cyan
$cyan: #0ff;
$cyan-primary: rgba(0, 255, 255, 0.7);

//White
$white: #fff;
$white-light: #fbfbfb;
$white-lighter: rgba(255, 255, 255, 0.9);
$white-primary: #f6f6f6;

//Gray
$gray: #bdbdbd;
$gray-light: #828282;
$gray-primary: #4e4e4e;

// my variables
$primary-btn-border: $cyan;
$primary-btn-hover: $cyan-primary;
$secondary-btn-border: $white;
$secondary-btn-hover: $gray-primary;

// Update Bulma's global variables
$body-background-color: $black;
$primary: $white;
$info: $cyan;
$text: $gray;
$link: $white;
// - Bulma forms
$label-color: $white;
$label-weight: 500;
$input-color: $white;
$input-background-color: $black-medium;
$input-border-color: $black-medium;
$input-hover-border-color: $black-medium;
$input-focus-border-color: $gray-light;
$input-focus-box-shadow-size: 0;
$input-radius: 10px;

//navbar
$navbar-background-color: $black-transparent-hover;
$navbar-item-hover-background-color: $black-transparent-hover;
$navbar-item-color: $white;

// sizes
$content-max-width: 1200px;
$content-min-width: 719px;
$section-margin: 0 49px;

// END COLORS
