.career-coach {
  display: flex;
  justify-content: center;
  padding: 100px 0 80px;
  width: 100%;

  @include on-mobile {
    padding: 80px 0 60px;
  }

  .career-coach-container {
    max-width: $content-max-width;
    min-width: $content-min-width;
    width: 100%;

    @include on-mobile {
      min-width: 100%;
      padding: 0 45px;
    }

    @include on-tablet {
      min-width: 100%;
      padding: 0 85px;
    }

    .head {
      grid-area: head;
      max-width: 400px;
      min-width: 224px;
    }

    .first {
      display: grid;
      grid-column-gap: 2rem;
      grid-template-areas:
        'image cards cards'
        'image cards cards';
      grid-template-columns: repeat(3, 1fr);
      margin-top: 20px;

      @include on-mobile {
        grid-template-areas:
          'image'
          'cards';
        grid-template-columns: 1fr;
        margin-top: 20px;
      }

      @include on-tablet {
        grid-column-gap: 0;
        grid-template-areas:
          'image'
          'cards';
        grid-template-columns: 1fr;
      }
    }

    .second {
      display: grid;
      grid-column-gap: 2rem;
      grid-template-areas:
        'cards cards image'
        'cards cards image';
      grid-template-columns: repeat(3, 1fr);
      margin-top: 40px;

      @include on-mobile {
        grid-template-areas:
          'image'
          'cards';
        grid-template-columns: 1fr;
        margin-top: 0;
      }

      @include on-tablet {
        grid-template-areas:
          'image'
          'cards';
        grid-template-columns: 1fr;
        margin-top: 0;
      }
    }

    .img-cont {
      grid-area: image;
      width: 100%;

      .image {
        border-radius: 10px;
        height: 100%;
        margin-top: 20px;
        max-height: 100%;
        object-fit: cover;
        width: 100%;
      }
    }

    #first-img {
      height: 360px;

      @include on-mobile {
        height: 420px;
      }

      @include on-tablet {
        height: 420px;
      }
    }

    #second-img {
      height: 460px;

      @include on-mobile {
        height: 420px;
      }

      @include on-tablet {
        height: 420px;
      }
    }

    .cards {
      display: grid;
      grid-area: cards;
      grid-column-gap: 2rem;
      grid-template-columns: 1fr 1fr;

      @include on-mobile {
        grid-template-columns: 1fr;
        margin-top: 35px;
      }

      @include on-tablet {
        grid-template-columns: 1fr 1fr;
        margin-top: 35px;
      }
    }
  }
}
