.certifications {
  margin: 0;
  padding: 0;
  width: 100%;

  .certification {
    padding: 0;

    .wrapper {
      margin: 0;
      padding: 0;
      width: 100%;

      .image {
        align-items: center;
        height: 65px;
        justify-content: center;

        @include on-mobile {
          justify-content: flex-start;
          padding: 0;
        }

        @include on-tablet {
          justify-content: flex-start;
          padding: 0;
        }
      }

      .certification-data {
        height: 210px;
        padding: 0;

        @include on-mobile {
          height: auto;
        }

        .title {
          color: $primary;
          font-size: $h4-size;
          margin: 10px 0;
        }

        .description {
          color: $text;
          font-size: $p-size;
          font-weight: 500;
          margin: 20px 0;
        }
      }
    }
  }
}
