
.data-manipulation-container {
  .data-manipulation {
    .wrapper {
      .images {
        flex-direction: column;

        @include on-mobile {
          flex-direction: row;
          justify-content: space-evenly;
        }

        @include on-tablet {
          flex-direction: row;
          justify-content: space-evenly;
        }
      }
    }
  }
}
