
.data-manipulation-container {
  .data-manipulation {
    .wrapper {
      .data-container {
        .title {
          color: $primary;
          font-size: 28px;
          font-weight: 600;
          line-height: 1.36;
        }
      }

      .images {
        flex-direction: column;

        @include on-mobile {
          flex-direction: row;
          justify-content: space-evenly;
        }

        @include on-tablet {
          flex-direction: row;
          justify-content: space-evenly;
        }
      }

      .data-manipulation-data {
        .description-data {
          color: $text;
          font-size: 18px;
          font-weight: 500;
          text-align: left;
          white-space: pre-line;
        }
      }
    }
  }
}
