.hero-card-bootcamps {
  .container-data {
    .container-tittle {
      max-width: 275px;

      @include on-mobile {
        max-width: 221px;
      }
    }

    .bootcamp-js {
      max-width: 206px;
    }

    .container-description {
      .description {
        color: $text;
        font-size: $p-size;
        font-weight: 500;
        margin: 35px 0;
        max-width: 336px;

        @include on-mobile {
          font-size: 15px;
          margin: 15px 0;
          max-width: 540px;
        }
      }
    }

    .container-information {
      width: 100%;

      .wrapper-information {
        @include on-mobile {
          font-size: 13px;
        }

        .title-info {
          color: $primary;
          font-size: $h3-size;
          font-weight: 600;
          line-height: 1.36;
          margin: 5px 0;

          @include on-mobile {
            font-size: 14px;
            margin: 2px 0;
          }
        }

        .text-info {
          color: $text;
          font-size: $p-size;
          margin: 2px 0;
        }
      }
    }
  }
}
