.investment {
  background-image: url('/images/bootcamps/koder-gerardo.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0;
  padding: 0;
  width: 100%;

  .investment-container {
    padding: 100px 49px 80px;

    @include on-mobile {
      padding: 80px 45px 60px;
    }

    @include on-tablet {
      padding: 100px 85px 80px;
    }

    .investment-wrapper {
      max-width: $content-max-width;
      width: 100%;

      .investment-header {
        padding: 0;

        .investment-title {
          max-width: 200px;
        }

        .description {
          margin: 45px 0;
          max-width: 700px;
        }
      }

      .payment-types-container {
        padding: 0;

        @include on-mobile {
          flex-direction: column;
        }

        @include on-tablet {
          flex-wrap: wrap;
        }

        .payment-card {
          background: transparent;
          border: 1px solid $cyan;
          border-radius: 10px;
          padding: 16px;
          width: 30%;

          @include on-mobile {
            margin: 20px 0;
            padding: 30px;
            width: 100%;
          }

          @include on-tablet {
            margin-top: 30px;
            max-width: 418px;
            min-width: 280px;
            width: 48%;
          }

          .payment-title {
            max-width: 195px;

            @include on-mobile {
              max-width: 100%;
            }

            @include on-tablet {
              max-width: 100%;
            }
          }

          .payment-description {
            margin-top: 20px;
            max-width: 290px;

            @include on-mobile {
              max-width: 100%;
              min-height: 54px;
            }

            @include on-tablet {
              max-width: 100%;
            }
          }
        }
      }
    }
  }
}
