.metric {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 90px;
  padding: 0 4rem;
  text-align: center;

  @include on-mobile {
    padding: 0;
  }

  @include on-tablet {
    padding: 0 0.8rem;
  }

  .value {
    color: $cyan;
    font-size: 80px;
    font-weight: 600;
  }

  .description {
    color: $gray;
    font-size: $p-size;
    font-weight: 500;

    &::first-letter {
      text-transform: capitalize;
    }
  }
}
