.scholarship {
  margin: 0;
  padding: 0;
  width: 100%;

  .scholarship-container {
    padding: 0;
    padding: 100px 49px 60px;

    @include on-mobile {
      padding: 100px 45px 60px;
    }

    @include on-tablet {
      padding: 100px 73px 60px;
    }

    .scholarship-information {
      max-width: $content-max-width;
      width: 100%;

      .info {
        @include on-mobile {
          padding: 0;
        }

        .scholarship-text {
          color: $text;
          font-size: p-size;
          margin: 30px 0;
          max-width: 728px;

          @include on-mobile {
            max-width: 580px;
          }
        }
      }

      .scholarship-button {
        @include on-mobile {
          padding: 0;
        }
      }
    }
  }
}
